<html>
    <h1>My Account {{person.fname}} {{person.lname}}:</h1>
    <form id="account_info" action="/home.js" method="post">
        <input placeholder="first name" type="text" name="fname" value="{{person.fname}}"><br>
        <input placeholder="last name" type="text" name="lname" value="{{person.lname}}"><br>
        <select name="climate" id="planet-selector">
        {{#each climates}}
            <option value="{{userID}}">{{climate}}</option>
        {{/each}}
    </select><br>
        Age: <input type="number" name="age" value="{{person.age}}"><br>
    </form>
    <button onclick="updatePerson({{person.id}})">Update</button>
    <script defer>selectPlanet({{person.homeworld}});</script>
</html>
