<html>
    <div align="center">
        <h3>Your Account Information</h3>
        {{#each guide}}
            <h4>{{firstName}} {{lastName}}</h4>
            <h4>zip code: {{zipCode}}</h4>
            <h4>{{email}}</h4>
        {{/each}}
        <form id="account_info" action="/home.js" method="post">
            <input placeholder="change first name" type="text" name="fname" value="{{guide.firstName}}"><br>
            <input placeholder="change last name" type="text" name="lname" value="{{guide.lastName}}"><br>
            <input placeholder="change password" type="text" name="password" value="{{guide.password}}"><br>
            <h3>Your current climate</h3>
            {{#each guide}}
                {{climate}}
            {{/each}}
            <h3>Change climate</h3>
            <div align="center">
                <select name="climates" id="climate-selector">
                <label for='climate-filter'></label>
                {{#each climates}}
                    <option value="{{climate}}">{{climate}}</option>
                {{/each}}
                </select>
            </div>
        </form>
        <br>
        <input type="button" value="update info" onclick="updateGuide(userID)">
    </div>
</html>
