<div class="topnav" align="center" style="background-color: #f1f1f1">
    <h1 align="center" style="background-color: #f1f1f1">WEATHER VAULT</h1>
    <a href="GuideLogin.html" class="button"><i class="fa fa-sign-in"> Login |</i></a>
    <a href="GuideSignUp.html" class="button"><i class="fa fa-user-plus"> Sign up |</i></a>
    <a href="GuideLocation.html" class="button"><i class="fa fa-map-marker"> Locations |</i></a>
    <a href="GuideAccount.html" class="button"><i class="fa fa-user-o"> My page</i></a>
</div>

<div align="center">
    <br>
    <br>
    <h2> "Interested in moving to a new location with a different climate? Our guides can help you!" </h2>
    <h2>To see our list of Guides, select your desired climate from the drop-box below, then press search.</h2>
</div>

<div align="center">
    <form id='filter_guides' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label for='climate_filter'></label><select id='climate_filter' name="climate">
            {{#each climates}}
                <option value="{{userID}}">{{climate}}</option>
            {{/each}}
        </select>
        <br>
        <br>
        <input type="button" value="search climate" onclick="filterGuidesByClimate()">
        <br>
        <br>
    </form>

    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Zip Code</th>
        </thead>
        <tbody>
            {{#each guides}}
            <tr>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{email}}</td>
                <td>{{climate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>