<div align="center">
    <br>
    <br>
    <h2> "Interested in moving to a new location with a different climate? Our Guides can help you!" </h2>
    <h2>Select your desired climate to find a knowledgeable Guide.</h2>
</div>

<div align="center">

        <label for='climate_filter'></label><select id='climate_filter' name="climate">
            {{#each climates}}
                <option value="{{climate}}">{{climate}}</option>
            {{/each}}
        </select>
        <br>
        <br>
        <input type="button" value="search guides" onclick="filterGuidesByClimate()">
        <br>
        <br>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Zip Code</th>
        </thead>
        <tbody>
                {{#each guides}}
                <tr>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>
                    <td>{{zipCode}}</td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>

<script>
    function filterGuidesByClimate() {
        let climate_id = document.getElementById('climate_filter').value;
        window.location = '/home/filter/' + climate_id
    }
</script>
