<!-- Guide Sign Up Page -->

<html>
    <div align="center">
        <h2>Fill in your information to become a weather guide.</h2>
        <form id="update-guide" action="/guides.js" method="post">
            <input placeholder="first name" type="text" name="firstName" value="{{guide.firstName}}">
            <br>
            <input placeholder="last name" type="text" name="lastName" value="{{guide.lastName}}">
            <br>
            <input placeholder="email" type="text" name="lastName" value="{{guide.email}}">
            <br>
            <select name="climate" id="climate-selector">
                {{#each climates}}
                    <option value="{{userID}}">{{firstName}}</option>
                {{/each}}
            </select>
            <br>
            <input placeholder="zip code" type="number" name="zipCode" value="{{guide.zipCode}}"><br>
        </form>
        <button onclick="updateguides({{guide.userID}})">Create Account</button>
        <script defer>"selectedclimates({{guide.climate}})"</script>
    </div>
</html>
